<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vue</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src='app.js'></script>
</head>
<body>
        <div id="app">
          <h1 v-if="isLoggedIn">{{ message }} {{ username }} </h1>
          <h1 v-if="!isLoggedIn">{{ message }} You are not Login</h1>
  
          <h1 v-show="isLoggedIn">{{ message }} {{ username }} </h1>
          <h1 v-show="!isLoggedIn">{{ message }} You are not Login</h1>

        </div>
</body>
</html>